@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --color-white: #f7f7f7;
  --color-pure-white: #ffffff;
  --color-sky-blue: #01acfd;
  --color-orange: #fea301;
  --color-black: #111111;
  --color-pure-black: #000000;
  --color-green: #95b226;
  --color-aqua: #05d4df;
  --color-aqua-light: #3cd8e8;
  --color-purple: #5d58ef;
  --color-purple-light: #5d58f0;
}

.font-quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-white);
}

/* Shared styles */
.display-flex {
  display: flex;
}

header {
  margin: 0 140px;
}

.section-title {
  font-size: 46px;
  line-height: 57px;
}

.card-title-big {
  font-size: 1.5rem;
  line-height: 2rem;
}

.card-description {
  font-size: 1rem;
  line-height: 1.75rem;
  color: #808080;
  font-weight: 500;
}

/* Navbar styles */
nav {
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

nav .logo-container {
  align-items: center;
  font-size: 2rem;
  gap: 0.75rem;
}

nav .nav-links {
  list-style: none;
  gap: 2rem;
}

nav .nav-links .nav-link,
.contact-button {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}

#home {
  font-weight: 700;
  color: var(--color-orange);
}

#about {
  color: var(--color-sky-blue);
}

#facilities {
  color: var(--color-aqua);
}

#admission {
  color: var(--color-purple);
}

nav .contact-button {
  color: var(--color-pure-white);
  background-color: var(--color-orange);
  padding: 10px 60px;
  border-radius: 0.75rem;
  font-weight: 600;
}

nav .bars {
  display: none;
}

/* banner section styles */
.banner-section {
  gap: 50px;
  align-items: center;
}

.banner-section .text-container {
  flex-direction: column;
  gap: 2rem;
  color: var(--color-pure-black);
  align-items: start;
}

.banner-section .text-container .banner-title {
  line-height: 3.75rem;
  font-size: 3.5rem;
  font-weight: 700;
}

.banner-section .text-container .banner-title .orange-text {
  color: var(--color-orange);
}

.banner-section .text-container .banner-title .sky-blue-text {
  color: var(--color-sky-blue);
}

.banner-section .text-container .banner-description {
  font-size: 1.25rem;
}

.banner-section .text-container .enroll-button {
  text-decoration: none;
  background-color: var(--color-pure-black);
  color: var(--color-pure-white);
  padding: 10px 3rem;
  border-radius: 0.75rem;
}

/* curriculum section */
.curriculum-section {
  padding: 0 140px;
  background: url("../assets/bg.png");
  background-position: right bottom;
}

.section-content {
  padding: 3.75rem 0;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  justify-content: center;
}

.curriculum-section .curriculum-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.75rem;
}

.curriculum-section .curriculum-card-container .curriculum-card {
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 3.25rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 1.125rem;
  box-shadow: 0px 0px 1.75rem 1px rgba(0, 0, 0, 0.05);
}

.curriculum-card-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
}

#curriculum-card-blue {
  background: linear-gradient(180deg, #def5ff 0%, #ffffff 40%);
  border-color: #def5ff;
}

#curriculum-card-orange {
  background: linear-gradient(180deg, #fff4dc 0%, #ffffff 40%);
  border-color: #fff4dc;
}

#curriculum-card-purple {
  background: linear-gradient(180deg, #f2e8ff 0%, #ffffff 40%);
  border-color: #f2e8ff;
}

#curriculum-card-blue .curriculum-card-link {
  color: #64c8ff;
}

#curriculum-card-orange .curriculum-card-link {
  color: #f0aa00;
}

#curriculum-card-purple .curriculum-card-link {
  color: #8700ff;
}

.next-prev-button-container {
  display: flex;
  gap: 10px;
}

.next-prev-button {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  border: none;
  background-color: var(--color-orange);
  font-size: 1.5rem;
  color: var(--color-pure-white);
  cursor: pointer;

  transition: background-color ease-in-out 0.25s;
}

.next-prev-button:hover {
  background-color: var(--color-purple-light);
}

/* stories section */

.stories-section {
  padding: 0 140px;
  background: linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    url("../assets/bg.png");
  background-position: center top;
}

.stories-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.stories-container .story {
  background-color: var(--color-pure-white);
  border-radius: 1rem;
  position: relative;
}

#big-story {
  grid-row: span 2;
  grid-column: span 2;

  display: flex;
  flex-direction: column;
}

#big-story .text-container {
  padding: 3.625rem 2rem;
}

#big-story .story-title {
  font-size: 1.5rem;
  line-height: 2.375rem;
  max-width: 75%;
}

#big-story .date {
  background-color: var(--color-aqua-light);
  padding: 1rem 1.25rem;
}

#blue-story .date {
  background-color: var(--color-purple-light);
}

.stories-container .story .image-container,
.stories-container .story .text-container {
  height: 50%;
}

.stories-container .story .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.stories-container .story .text-container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stories-container .story .text-container .story-title {
  font-size: 1rem;
  line-height: 1.875rem;
}

.stories-container .story .date {
  position: absolute;
  top: 50%;
  left: 2.375rem;
  transform: translate(0, -50%);

  padding: 0.625rem 1.25rem;
  background-color: #95b226;
  border-radius: 3rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-pure-white);
}

.view-all-button {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: var(--color-black);
  color: var(--color-pure-white);
  padding: 10px 3.75rem;
  border-radius: 0.875rem;
}

/* Footer styles */
footer {
  padding-left: 140px;
  padding-top: 124px;
  padding-bottom: 174px;
  background-color: var(--color-sky-blue);

  color: var(--color-pure-white);
  flex-wrap: wrap;
}

.company-info,
.site-details {
  flex: 1;
}

footer .logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.footer-logo-text {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.company-info {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.company-description {
  max-width: 400px;
  font-size: 1.25rem;
}

.site-details {
  gap: 144px;
  flex-wrap: wrap;
}

.sitemap,
.social {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-item-heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.sitemap-items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  list-style: none;
}

.sitemap-item {
  text-decoration: none;
  color: var(--color-pure-white);
  font-size: 1.25rem;
  font-weight: 500;
}

.social-medias {
  gap: 0.625rem;
}

.hidden-story-in-desktop {
  display: none;
}

.marquee {
  margin-top: 0;
  padding: 1rem;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  header {
    margin: 0;
  }

  nav {
    border-bottom: 1px solid var(--color-orange);
    padding: 0.75rem 1rem;
    margin: 0;
  }

  nav .logo-container .logo-text,
  nav .contact-button,
  nav .nav-links {
    display: none;
  }

  nav .bars {
    display: block;
  }

  .banner-section {
    flex-direction: column-reverse;
    margin-top: 0.5rem;
    gap: 1.25rem;
  }

  .banner-section .image-container {
    padding: 1.25rem 10px;
  }

  .banner-section .image-container img {
    width: 100%;
  }

  .banner-section .text-container {
    align-items: center;
    text-align: center;
    gap: 1.125rem;
  }

  .banner-section .text-container .banner-title {
    font-size: 2rem;
    line-height: normal;
  }

  .banner-section .text-container .banner-description {
    font-size: 14px;
  }

  .banner-section .text-container .enroll-button {
    border-radius: 0.5rem;
    padding: 6px 1.5rem;
    line-height: 30px;
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.625rem;
  }

  .curriculum-section {
    padding: 0 0;
    background: none;
  }
  .section-content {
    gap: 0px;
    padding: 0;
  }

  section {
    margin-top: 2.5rem;
  }

  .curriculum-section .curriculum-card-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 1.25rem 1rem;
    gap: 0.75rem;
  }

  .curriculum-section .curriculum-card-container .curriculum-card {
    box-shadow: 0px 0px 1.25rem 1px rgba(0, 0, 0, 0.05);
    padding: 2.25rem;
    gap: 1.375rem;
  }

  .next-prev-button-container {
    display: none;
  }
  .card-title-big {
    font-size: 1rem;
    line-height: normal;
  }
  .card-description,
  .curriculum-card-link {
    font-size: 0.75rem;
    line-height: 1.25rem;
    max-width: 220px;
  }

  .stories-section {
    padding: 2.5rem 1rem;
    background-position: top left;
    background-size: cover;
  }

  .stories-section .section-content {
    gap: 1.25rem;
  }

  .stories-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .stories-container #big-story {
    display: none;
  }

  .stories-container .story .text-container {
    padding: 0.5rem 0.5rem;
  }

  .stories-container .story .text-container .story-title {
    font-size: 1rem;
    line-height: 1rem;
  }

  .stories-container .story .date {
    font-size: 0.5rem;
    left: 1rem;
    padding: 0.375rem 0.875rem;
  }

  .view-all-button {
    font-size: 1rem;
  }

  footer {
    padding: 3.75rem 1rem;
    gap: 2rem;
    flex-direction: column;
  }

  .site-details {
    flex-direction: column;
    gap: 2rem;
  }

  .banner-section .text-container .banner-description {
    padding: 0 1rem;
  }

  .hidden-story-in-desktop {
    display: block;
  }
}
